<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake_Final.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake_Final.Gamesettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Snake_Final.Settings>
            <setting name="togglemusic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="toggleaudiofx" serializeAs="String">
                <value>1</value>
            </setting>
        </Snake_Final.Settings>
    </applicationSettings>
    <userSettings>
        <Snake_Final.Gamesettings>
            <setting name="togglemusic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="toggleaudiofx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="escape" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="up" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="down" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="right" serializeAs="String">
                <value>Right</value>
            </setting>
        </Snake_Final.Gamesettings>
    </userSettings>
</configuration>